
<mat-toolbar >
    <!--button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </!--button-->
    <span><h5 style="font-size:small;">Panadería</h5><h1 style="font-size:xx-large;">{{title}}</h1></span>
    <hr style="display: inline-block; padding-left: 8%; border-style: none;">
       <a mat-button routerLink="" routerLinkActive="active">Inicio</a>
       <a mat-button routerLink="productos" routerLinkActive="active">Productos</a>
       <a mat-button routerLink="crear" routerLinkActive="active">Agregar</a>
    <span class="example-spacer">
    </span>
    <!--button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </!--button>
    <button-- mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button-->
    
  </mat-toolbar>