<mat-card class="card-form">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Crear nuevo Producto</mat-card-title>
        <mat-card-subtitle>El ingreso de productos se hace por medio de estos formularios</mat-card-subtitle>
    </mat-card-header>
    <!--agregar alguna imagen aquí-->
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre del produto" value="">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select>
                    <mat-option value="activo">
                        Activo
                    </mat-option>
                    <mat-option value="inactivo">
                        Inactivo
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <input type="file"
                style="padding: 5px; border-radius: 4px; margin-bottom: 2em; background-color: darkcyan;">
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Hacer una breve descripción del producto"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input type="number" matInput  value="0" min="0" max="1000">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select>
                    <mat-option *ngFor=" let tipo of tipos" [value]="tipo.id">
                        {{tipo.nombre}}
                    </mat-option>
                    
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                <mat-select>
                    <mat-option *ngFor=" let precio of precios" [value]="precio.id">
                        {{precio.precio}}
                    </mat-option>                    
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Guardar</button>
        <a mat-raised-button routerLink="">Volver al inicio</a>
    </mat-card-actions>
</mat-card>